* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat"; }

a {
  text-decoration: none; }

.wrapper {
  padding: 0 calc(50% - 640px); }

.indent {
  margin-right: 85px;
  margin-left: 85px; }

.button {
  background-color: #588EFF;
  display: inline-block; }

.logo {
  background: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 204px;
  height: 21px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0; }

.nav__item {
  list-style: none;
  margin-right: 50px; }
  .nav__item:last-child {
    margin-right: 0; }

.nav__link {
  position: relative;
  display: inline-block;
  padding: 27px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: -0.2px;
  color: #A0A4AB;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .nav__link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    display: block;
    background-color: #588EFF;
    width: 100%;
    height: 4px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease; }
  .nav__link:hover {
    color: #000000;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .nav__link:hover::after {
      opacity: 1; }

.call-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .call-back__number, .call-back__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.2px; }
  .call-back__number {
    margin-right: 29px;
    color: #000000; }
  .call-back__link {
    border-radius: 20px;
    color: #ffffff;
    padding: 11px 20px; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px #ECEDF3;
  box-shadow: 0px 2px 2px #ECEDF3; }
  .header__logo {
    margin-left: 50px; }
  .header__call-back {
    margin-right: 50px; }

.banner {
  background-image: url("../img/banner_bg.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh; }
  .banner__heading {
    margin: 0;
    padding-top: 184px;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: -0.2px;
    color: #2E58D1;
    max-width: 568px; }
    .banner__heading .bolder {
      font-weight: 800; }
  .banner__button {
    margin-top: 55px; }
  .banner__link {
    -webkit-box-shadow: 0px 10px 16px #E3E8F3;
    box-shadow: 0px 10px 16px #E3E8F3;
    border-radius: 29px;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff; }

.about-us {
  margin-top: 75px; }
  .about-us .indent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .about-us__img {
    margin-left: 59px;
    margin-right: 54.5px;
    background-image: url("../img/about-us_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 402px;
    height: 288px; }
  .about-us__text {
    max-width: 406px;
    margin-left: 54.5px; }
  .about-us__heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.2px;
    margin: 0;
    margin-bottom: 30px; }
  .about-us__description {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 21px; }
    .about-us__description:last-child {
      margin-bottom: 0; }

.benefits {
  margin-top: 115px; }
  .benefits__heading {
    margin: 0;
    margin-bottom: 68px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.2px; }
  .benefits__block {
    margin-left: 95px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-gap: 40px; }
  .benefits__description {
    position: relative;
    max-width: 261px;
    margin-left: 74px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.2px; }
  .benefits .target::before, .benefits .rocket::before, .benefits .graph::before, .benefits .clock::before {
    content: '';
    position: absolute;
    left: -74px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 50px; }
  .benefits .target::before {
    background-image: url("../img/benefits/target.svg"); }
  .benefits .rocket::before {
    background-image: url("../img/benefits/rocket.svg"); }
  .benefits .graph::before {
    background-image: url("../img/benefits/graph.svg"); }
  .benefits .clock::before {
    background-image: url("../img/benefits/clock.svg"); }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 24px 33px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 25px #ECF0F7;
  box-shadow: 0px 10px 25px #ECF0F7;
  border-radius: 8px; }
  .card__logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 65px;
    height: 65px;
    margin-bottom: 10px; }
  .card .target {
    background-image: url("../img/services/target.svg"); }
  .card .phone {
    background-image: url("../img/services/phone.svg"); }
  .card .site {
    background-image: url("../img/services/site.svg"); }
  .card .magnifier {
    background-image: url("../img/services/magnifier.svg"); }
  .card__title {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-bottom: 12px; }
  .card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 35px; }
  .card__item {
    position: relative;
    font-size: 14px;
    line-height: 28px;
    padding-left: 23px; }
    .card__item::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
      background-image: url("../img/mark.svg");
      width: 11px;
      height: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
  .card__price {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-bottom: 10px; }
    .card__price .colored {
      font-weight: bold;
      color: #2E58D1; }
  .card__link {
    -webkit-box-shadow: 0px 10px 16px #E3E8F3;
    box-shadow: 0px 10px 16px #E3E8F3;
    border-radius: 29px;
    color: #ffffff;
    padding: 11px 26px;
    font-size: 14px;
    line-height: 17px; }

@media (min-width: 1024px) and (max-width: 1253px) {
  .card__item {
    font-size: calc( (100vw - 1024px)/(1253 - 1024) * (14 - 9) + 9px); }
  .card__link {
    font-size: calc( (100vw - 1024px)/(1253 - 1024) * (14 - 12) + 12px); } }

.services {
  margin-top: 159px; }
  .services__heading {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.2px; }
  .services__capture {
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: -0.177778px; }
  .services__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 24% 24% 24% 24%;
    grid-template-columns: 24% 24% 24% 24%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 136px; }

.cases {
  margin-top: 75px; }
  .cases .indent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .cases__img {
    background-image: url("../img/cases_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 577px;
    height: 347px; }
  .cases__text {
    max-width: 406px;
    margin-left: 95px; }
  .cases__heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.2px;
    margin: 0;
    margin-bottom: 30px; }
  .cases__description {
    font-size: 14px;
    line-height: 22px;
    margin: 0; }
