* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.bg-dark {
  background-color: #292929; }

.bg-lg {
  background-color: #f8fcff;
  border-bottom: 8px solid #0099ff; }

.bg-banner {
  background-image: url("../img/banner-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px; }

.main {
  padding: 0 calc(50% - 960px); }

.contacts {
  background-color: #292929;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .contacts__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contacts__social-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 10px; }
      .contacts__social-link:last-child {
        margin-right: 0; }
  .contacts__link {
    font-family: "Proxima Nova Lt";
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 45px; }
    .contacts__link:last-child {
      margin-right: 0; }
  .contacts__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contacts__details .skype-ico::before, .contacts__details .mail-ico::before {
      content: '';
      display: inline-block;
      width: 17px;
      height: 15px;
      margin-right: 5px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    .contacts__details .skype-ico::before {
      background-image: url("../img/skype.svg"); }
    .contacts__details .mail-ico::before {
      background-image: url("../img/mail.svg"); }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__item {
  margin-right: 40px;
  font-size: 20px;
  font-family: "Source Sans Pro"; }
  .nav__item:last-child {
    margin-right: 0; }

.nav__link {
  color: #3c3c3c;
  text-decoration: none; }

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav-bar__logo {
    font-size: 36px;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: bold;
    margin-left: 3%; }
    .nav-bar__logo .logo-link {
      text-decoration: none; }
    .nav-bar__logo .dark-blue {
      color: #3366cc; }
    .nav-bar__logo .light-blue {
      color: #0099ff; }

.header {
  padding: 0 calc(50% - 960px); }
  .header__nav-bar {
    height: 130px; }

.banner {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff; }
  .banner__price {
    position: relative;
    background-color: #fff;
    width: 375px;
    height: 80px;
    border-radius: 15px;
    color: #fa4a33;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 50px;
    padding-left: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .banner__price::after {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      width: 62px;
      height: 62px;
      border-radius: 10px;
      background-color: inherit;
      -webkit-transform: translate(35%, -50%) rotate(45deg);
      -ms-transform: translate(35%, -50%) rotate(45deg);
      transform: translate(35%, -50%) rotate(45deg);
      z-index: -1; }
    .banner__price::before {
      content: '';
      position: absolute;
      display: inline-block;
      left: 30px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #145ea7; }
  .banner__tittle {
    margin: 100px 0 30px;
    font-size: 30px;
    font-family: "Source Sans Pro";
    font-weight: bold; }
  .banner__price {
    margin-bottom: 25px; }
  .banner__capture {
    font-size: 38px;
    font-family: "Source Sans Pro";
    font-weight: 600;
    text-align: center;
    max-width: 940px;
    margin-bottom: 60px; }
  .banner__contacts-heading {
    font-size: 36px;
    font-family: "Montserrat";
    font-weight: bold;
    margin-bottom: 30px; }
  .banner__contacts-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .banner__contacts-details .skype, .banner__contacts-details .mail {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .banner__contacts-details .skype {
      margin-right: 50px; }
      .banner__contacts-details .skype::before {
        -webkit-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
        transform: rotate(95deg); }
      .banner__contacts-details .skype::after {
        left: 40px;
        background-image: url("../img/skype.svg");
        width: 28px;
        height: 28px; }
    .banner__contacts-details .mail {
      margin-left: 50px; }
      .banner__contacts-details .mail::before {
        -webkit-transform: rotate(-96deg);
        -ms-transform: rotate(-96deg);
        transform: rotate(-96deg); }
      .banner__contacts-details .mail::after {
        left: 15px;
        background-image: url("../img/mail.svg");
        width: 30px;
        height: 20px; }
    .banner__contacts-details .skype::before, .banner__contacts-details .mail::before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      margin-right: 30px;
      border-style: solid;
      border-width: 70px 48.5px 0 33.5px;
      border-color: #0099ff transparent transparent transparent; }
    .banner__contacts-details .skype::after, .banner__contacts-details .mail::after {
      content: '';
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .banner__contacts-details a {
      color: #ffffff;
      text-decoration: none;
      font-family: "Source Sans Pro";
      font-size: 30px;
      font-weight: bold; }
