@import 'nav-footer';
@import 'mailing';

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: $OpenSans_font;

  &__social {
    display: flex;

    .link {
      text-decoration: none;
      margin-right: 20px;

      svg path {
        fill: $white_color;
        opacity: 1;
      }

      .twitter:hover path{
        fill:#1DA1F2;
        transition: 0.2s;
      }

      .facebook:hover path{
        fill: #4267B2;
        transition: 0.2s;
      }

      &:last-child {
        margin-right: 0;
      }
    }

  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding-bottom: 160px;

    &__social {
      position: absolute;
      bottom: -75px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-bottom: 90px;
    padding-top: 80px;

    &__nav {
      display: inline-block;
      margin-top: 80px;
      margin-right: 15%;
    }

    &__mailing {
      margin-top: 80px;
    }

    &__social {
      position: absolute;
      bottom: -75px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}