.journal {
  position: relative;
  padding: 260px 110px 235px; 
  display: flex;

  &__heading {
    position: relative;
    text-align-last: left;
    font-size: 20px;
    
    &::before  {
      left: 0;
      transform: none;
    }
  }

  &__text {
    margin: 30px 0 0;
    max-width: 37%;
    font-family: $OpenSans_font;
    color: $gray_color;
    font-size: 14px;
    line-height: 26px;
  }

  &__button {
    margin-top: 30px;
    padding: 15px 30px;
  }

  &__ilustration-block {
    position: absolute;
    right: 0;
    top: -60%;
    transform: translateY(50%);
    background-image: url('../images/journal/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 630px;  
    width: 45%;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 340px;
      height: 340px;
      background-image: url('../images/journal/2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      bottom: -85px;
      left: 3%;
      transform: translateX(-50%);
      z-index: 2;
    }
  }

  
} 