.logo {
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 17px;
  height: 17px;

  &_white {
    background-image: url('../images/logo-white.svg');
  }
}