.nav-footer {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  text-transform: capitalize;
  
  &__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $white_color;

    &:hover {
      color: $light-red_color;
    }
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .nav-footer {
    &__item  {
      font-size: 14px;
    }
  }
}