@import 'galery';
@import 'description-block';

.studies {
    position: relative;
    padding: 440px 110px 200px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .studies {
        padding: 460px 0 235px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .studies {
        padding: 620px 35px 120px;
    }
}