@import 'person';

.team {
  padding: 185px 110px 75px;

  &__heading {
    left: 50%;
    transform: translateX(-50%);
  }

  &__cards {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 65px;
    justify-content: space-between;
  }

}