@import 'person';

.team {
  padding: 185px 110px 75px;

  &__heading {
    left: 50%;
    transform: translateX(-50%);
  }

  &__cards {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 65px;
    justify-content: space-between;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .team {
    padding: 125px 100px 40px;

    &__cards {
      grid-template-columns: 45% 45%;
      justify-content: space-around;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .team {
    padding: 135px 35px 40px;

    &__cards {
      grid-template-columns: 100%;
    }
  }
}