* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.bg-dark {
  background-color: $dark-gray_color;
}

.bg-lg {
  background-color: #f8fcff;
}