//Colors
$dark-gray_color: #292929;
$dark-blue_color: #3366cc;
$light-blue_color: #0099ff;
$white_color: #ffffff;
$light-red_color: #fa4a33;

//fonts 
$montserrat_font: 'Montserrat';
$ProximaNova_font: 'Proxima Nova Lt';
$SourceSansPro_font: 'Source Sans Pro';
