* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Roboto';
  padding: 0 calc(50% - 472.5px); }

.nav__toggle-button {
  position: relative;
  background-color: #b3b0b0;
  background-clip: content-box;
  width: 35px;
  height: 25px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer; }
  .nav__toggle-button::before, .nav__toggle-button::after {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: 5px; }
  .nav__toggle-button::before {
    top: -10px; }
  .nav__toggle-button::after {
    bottom: -10px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8.5px 16px;
  border-bottom: 2px solid #e5e5e5; }
  .header__logo {
    width: 57px;
    height: 48px; }
    .header__logo-img {
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center;
      object-position: center; }
  .header__inst {
    width: 30px;
    height: 30px; }
    .header__inst-img {
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center;
      object-position: center; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px  15px 30px; }
  .banner__bg {
    height: 280px; }
    .banner__bg img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .banner__content {
    margin-top: 20px; }
  .banner__heading {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700; }
  .banner__description {
    margin: 0;
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300; }

.types-water {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px; }
  .types-water__drinking, .types-water__beauty, .types-water__acidic {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding: 47px 0 40px;
    border-radius: 20px;
    text-transform: uppercase; }
  .types-water__drinking {
    background-color: #00b3e9;
    width: 100%;
    margin-bottom: 17px; }
  .types-water__beauty {
    background-color: #2cdfff;
    width: 45%; }
  .types-water__acidic {
    background-color: #2dcec8;
    width: 45%; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .content__img {
    background-color: #00b3e9;
    height: 245px;
    width: 100%; }
  .content__heading {
    text-transform: uppercase;
    padding: 0;
    margin: 30px 0 0;
    font-size: 20px; }
  .content__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300; }

.about-us {
  border: 2px solid #e5e5e5;
  padding: 30px 15px; }

.delivery {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px; }
  .delivery__heading {
    font-size: 18px;
    font-weight: 500;
    margin: 0; }
  .delivery__map {
    height: 230px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px; }
  .delivery__button {
    border-radius: 27px;
    background-image: -moz-linear-gradient(90deg, #2dcec8 0%, #4a87ba 100%);
    background-image: -webkit-linear-gradient(90deg, #2dcec8 0%, #4a87ba 100%);
    background-image: -ms-linear-gradient(90deg, #2dcec8 0%, #4a87ba 100%);
    padding: 23px 37px 19px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none; }

.slider-block {
  position: relative;
  min-width: 100%;
  height: 140px; }
  .slider-block__slider {
    position: relative;
    width: inherit;
    height: inherit; }
  .slider-block__slides {
    position: absolute;
    width: 100%;
    height: inherit; }
  .slider-block .slide-1 {
    background-color: #2dcec8; }
  .slider-block .slide-2 {
    background-color: #2cdfff; }
  .slider-block .slide-3 {
    background-color: #00b3e9; }
  .slider-block__prev, .slider-block__next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer; }
  .slider-block__prev {
    left: 5px; }
  .slider-block__next {
    right: 5px; }

.partners {
  padding: 0 15px;
  margin-top: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .partners__heading {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    margin-bottom: 30px; }
  .partners__slider-block {
    padding: 0 40px;
    margin-bottom: 30px; }

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px; }
  .benefits__heading {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px; }
  .benefits__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .benefits__item {
    margin-bottom: 30px;
    font-weight: 300; }
    .benefits__item:last-child {
      margin-bottom: 0; }

.property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px; }
  .property__heading {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    margin-bottom: 30px; }
  .property__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .property__item {
    position: relative;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: calc( (100vw - 320px) / (768 - 320) * (16 - 10.5) + 10.5px);
    border: 2px solid #ececec;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 13px;
    padding-top: 18px;
    padding-bottom: 17px; }
    .property__item:last-child {
      margin-bottom: 0; }
    .property__item::before {
      content: '';
      display: block;
      position: absolute;
      width: 14px;
      height: 17px;
      background-image: url("../img/drop.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 12px; }

.certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px; }
  .certificate__heading {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    margin-bottom: 30px; }
  .certificate__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 45%;
    grid-template-columns: 45% 45%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-grid-row-align: center;
    align-self: center; }
  .certificate__item {
    display: block;
    background-color: #00b3e9;
    border-radius: 50%;
    width: 157px;
    height: 157px; }
