* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Roboto'; }

.section {
  position: relative;
  padding: 0 calc(50% - 472.5px); }

@media (min-width: 1024px) {
  .bg_g {
    background-color: #f3f3f3; } }

.nav__list {
  display: none; }

.nav__toggle-button {
  position: relative;
  background-color: #b3b0b0;
  background-clip: content-box;
  width: 35px;
  height: 25px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer; }
  .nav__toggle-button::before, .nav__toggle-button::after {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    width: 100%;
    height: 5px; }
  .nav__toggle-button::before {
    top: -10px; }
  .nav__toggle-button::after {
    bottom: -10px; }

@media (min-width: 1024px) {
  .nav {
    margin-left: 60px; }
    .nav__toggle-button {
      display: none; }
    .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0; }
    .nav__item {
      margin: 0 15px; }
      .nav__item:first-child {
        margin-left: 0; }
      .nav__item:last-child {
        margin-right: 0; }
    .nav__link {
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      color: #000000; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8.5px 16px;
  border-bottom: 2px solid #e5e5e5; }
  .header__logo {
    width: 57px;
    height: 48px; }
    .header__logo-img {
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center;
      object-position: center; }
  .header__inst {
    width: 30px;
    height: 30px; }
    .header__inst-img {
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center;
      object-position: center; }

@media (min-width: 1024px) {
  .header {
    width: 945px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    border-bottom: none;
    padding-top: 35px; }
    .header__logo {
      width: 135px;
      height: 120px; }
    .header__inst {
      display: none; } }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px  15px 30px; }
  .banner__bg {
    height: 280px; }
    .banner__bg img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .banner__content {
    margin-top: 20px; }
  .banner__heading {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700; }
  .banner__description {
    margin: 0;
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300; }

@media (min-width: 1024px) {
  .banner {
    position: relative;
    height: 650px;
    padding: 0;
    margin-bottom: 200px; }
    .banner__bg {
      position: absolute;
      top: 150px;
      right: -30px;
      height: 500px; }
      .banner__bg img {
        -o-object-position: right;
        object-position: right; }
    .banner__content {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      max-width: 510px;
      margin-top: 0; }
    .banner__heading {
      font-size: 60px; }
    .banner__description {
      font-size: 18px;
      font-weight: normal; } }

.types-water {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px; }
  .types-water__heading {
    display: none; }
  .types-water__drinking, .types-water__beauty, .types-water__acidic {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding: 47px 0 40px;
    border-radius: 20px;
    text-transform: uppercase; }
  .types-water__drinking {
    background-color: #00b3e9;
    width: 100%;
    margin-bottom: 17px; }
  .types-water__beauty {
    background-color: #2cdfff;
    width: 45%; }
  .types-water__acidic {
    background-color: #2dcec8;
    width: 45%; }

@media (min-width: 768px) and (max-width: 1023px) {
  .types-water__drinking {
    margin-bottom: 0; }
  .types-water__drinking, .types-water__beauty, .types-water__acidic {
    width: 30%; } }

@media (min-width: 1024px) {
  .types-water {
    max-width: 945px;
    margin: 0 auto;
    padding: 0;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-bottom: 80px; }
    .types-water__drinking {
      margin-bottom: 0; }
    .types-water__drinking, .types-water__beauty, .types-water__acidic {
      width: 30%; } }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .content:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .content__img {
    background-color: #00b3e9;
    height: 245px;
    width: 100%; }
  .content__heading {
    text-transform: uppercase;
    padding: 0;
    margin: 30px 0 0;
    font-size: 20px; }
  .content__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    margin-top: 30px; }

@media (min-width: 768px) {
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 30px; }
    .content:nth-child(even) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    .content:last-child {
      margin-bottom: 0; }
    .content__heading {
      margin-top: 0; }
    .content__text-section {
      margin-right: 30px; }
      .content__text-section:nth-child(even) {
        margin-right: 0;
        margin-left: 30px; } }

@media (min-width: 1024px) {
  .content {
    margin-bottom: 80px; } }

.about-us {
  position: relative;
  border: 2px solid #e5e5e5;
  padding: 30px 15px; }
  .about-us__heading {
    display: none; }

@media (min-width: 768px) and (max-width: 1023px) {
  .about-us {
    border: none; }
    .about-us__heading {
      display: block;
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      margin: 0;
      margin-bottom: 30px; } }

@media (min-width: 1024px) {
  .about-us {
    padding: 0;
    border: none;
    margin-bottom: 80px; }
    .about-us__heading {
      font-size: 60px;
      font-weight: normal;
      display: block;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      margin-bottom: 80px; } }

.delivery {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px; }
  .delivery__heading {
    font-size: 18px;
    font-weight: 500;
    margin: 0; }
  .delivery__map {
    height: 230px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px; }
  .delivery__button {
    border-radius: 27px;
    background-image: -moz-linear-gradient(90deg, #2dcec8 0%, #4a87ba 100%);
    background-image: -webkit-linear-gradient(90deg, #2dcec8 0%, #4a87ba 100%);
    background-image: -ms-linear-gradient(90deg, #2dcec8 0%, #4a87ba 100%);
    padding: 23px 37px 19px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none; }

@media (min-width: 768px) and (max-width: 1023px) {
  .delivery__map {
    height: 300px; } }

@media (min-width: 1024px) {
  .delivery {
    padding: 0;
    margin-top: 0;
    margin-bottom: 80px; }
    .delivery__heading {
      font-size: 36px;
      margin-bottom: 80px; }
    .delivery__map {
      margin: 0;
      margin-bottom: 60px;
      height: 515px; } }

.slider-block {
  position: relative;
  min-width: 100%;
  height: 140px; }
  .slider-block__slider {
    position: relative;
    width: inherit;
    height: inherit; }
  .slider-block__slides {
    position: absolute;
    width: 100%;
    height: inherit; }
  .slider-block .slide-1 {
    background-color: #2dcec8; }
  .slider-block .slide-2 {
    background-color: #2cdfff; }
  .slider-block .slide-3 {
    background-color: #00b3e9; }
  .slider-block__prev, .slider-block__next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer; }
  .slider-block__prev {
    left: 5px; }
  .slider-block__next {
    right: 5px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .slider-block {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .slider-block__prev {
      left: 80px; }
    .slider-block__next {
      right: 80px; } }

@media (min-width: 1024px) {
  .slider-block__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .slider-block__slides {
    position: static;
    border-radius: 20px;
    width: 30%; }
  .slider-block__prev, .slider-block__next {
    display: none; } }

.partners {
  padding: 0 15px;
  margin-top: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .partners__heading {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    margin-bottom: 30px; }
  .partners__slider-block {
    padding: 0 40px;
    margin-bottom: 30px; }

@media (min-width: 1024px) {
  .partners {
    max-width: 945px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 80px; }
    .partners__heading {
      padding: 0;
      margin-bottom: 80px;
      font-size: 36px; }
    .partners__slider-block {
      padding: 0;
      margin-bottom: 0; } }

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px; }
  .benefits__heading {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px; }
  .benefits__img {
    display: none; }
  .benefits__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .benefits__item {
    margin-bottom: 30px;
    font-weight: 300; }
    .benefits__item:last-child {
      margin-bottom: 0; }

@media (min-width: 768px) {
  .benefits {
    margin-bottom: 50px; }
    .benefits__heading {
      margin-bottom: 50px; }
    .benefits__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .benefits__img {
      display: block;
      width: 230px;
      height: 200px;
      margin-right: 50px; }
      .benefits__img img {
        width: 100%;
        height: 100%; }
    .benefits__list {
      font-size: 18px;
      margin-bottom: 25px; }
      .benefits__list:last-child {
        margin-bottom: 0; } }

@media (min-width: 1024px) {
  .benefits {
    padding: 0;
    margin-bottom: 120px; }
    .benefits__heading {
      margin-bottom: 80px; } }

.property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px; }
  .property__heading {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    margin-bottom: 30px; }
  .property__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%; }
  .property__item {
    position: relative;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: calc( (100vw - 320px) / (768 - 320) * (14 - 10.5) + 10.5px);
    border: 2px solid #ececec;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 13px;
    padding-top: 18px;
    padding-bottom: 17px; }
    .property__item:last-child {
      margin-bottom: 0; }
    .property__item::before {
      content: '';
      display: block;
      position: absolute;
      width: 14px;
      height: 17px;
      background-image: url("../img/drop.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 12px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .property {
    margin-bottom: 50px; }
    .property__list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      grid-gap: 30px; }
    .property__item {
      margin-bottom: 0;
      font-size: 16px; } }

@media (min-width: 1024px) {
  .property {
    max-width: 945px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 55px; }
    .property__heading {
      font-size: 36px;
      margin-bottom: 55px; }
    .property__list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      grid-gap: 30px; }
    .property__item {
      font-size: 16px;
      margin-bottom: 0; } }

.certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px; }
  .certificate__heading {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    margin-bottom: 30px; }
  .certificate__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-gap: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .certificate__item {
    display: block;
    background-color: #00b3e9;
    border-radius: 50%;
    width: 157px;
    height: 157px;
    margin: 0 auto; }

@media (min-width: 768px) and (max-width: 1023px) {
  .certificate {
    margin-bottom: 50px; }
    .certificate__list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%; } }

@media (min-width: 1024px) {
  .certificate {
    padding: 145px 0 170px; }
    .certificate__list {
      max-width: 945px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20%;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }

.buy-water {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px; }
  .buy-water__heading {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    margin-bottom: 30px; }
  .buy-water__description {
    font-size: 16px;
    line-height: 30px; }
    .buy-water__description .more {
      display: none; }
    .buy-water__description_button {
      color: #00b3e9;
      text-decoration: none;
      background: none;
      border: none;
      outline: none;
      cursor: pointer; }

@media (min-width: 1024px) {
  .buy-water .dots {
    display: none; }
  .buy-water .more {
    display: inline-block; }
  .buy-water .buy-water__description_button {
    display: none; } }

.footer {
  background-color: #f3f3f3;
  padding: 15px 15px; }

@media (min-width: 1024px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 90px; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 30px 15px 60px; }
  .contacts__img {
    width: 100%;
    height: 300px;
    background-color: #2dcec8;
    margin-bottom: 30px; }
  .contacts__heading {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px; }
  .contacts__condition, .contacts__phone, .contacts__adress {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px; }
  .contacts__social {
    padding-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50%;
    grid-template-columns: 50%;
    grid-row-gap: 50px; }
    .contacts__social_item {
      position: relative;
      padding-left: 60px; }
      .contacts__social_item::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #00b3e9; }

@media (min-width: 768px) and (max-width: 1023px) {
  .contacts__social {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%; } }

@media (min-width: 1024px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 230px; }
    .contacts__img {
      width: 50%;
      height: 425px;
      margin-right: 30px;
      margin-bottom: 0; }
    .contacts__social {
      -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%; } }

.delivery-adress {
  border-bottom: 2px solid #e5e5e5; }
  .delivery-adress__heading {
    font-size: 24px;
    margin-top: 25px;
    padding: 0 15px;
    text-transform: uppercase; }
  .delivery-adress__content {
    padding: 0 15px;
    margin-top: 25px;
    padding-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #e5e5e5; }
  .delivery-adress__title {
    text-transform: uppercase;
    font-size: 18px; }
  .delivery-adress__adress, .delivery-adress__phone {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px; }
  .delivery-adress__img {
    background-color: #00b3e9;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    margin-right: 25px; }
