* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 17px;
  height: 17px; }

.search {
  background-image: url("../images/search-ico.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 15px;
  height: 15px; }

.button {
  background-color: #f84444;
  padding: 15px 0;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 12px; }
  .button_heading {
    padding: 11px 12px;
    font-size: 17px; }
  .button_double {
    margin: 0 9.5px;
    width: 130px; }
  .button_white {
    background-color: #ffffff;
    color: #81818181;
    border: 2px solid #e6e6e6e6; }
  .button_dark {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #56585f; }

.header {
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
  position: relative; }
  .header__logo, .header__search, .header__nav, .header__button, .header__title {
    position: absolute; }
  .header__logo, .header__search, .header__nav {
    top: 40px; }
  .header__logo {
    left: 40px; }
  .header__search {
    right: 83px; }
  .header__title {
    font-family: "Raleway";
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 70px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .header__button {
    top: 380px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .header__arrow {
    display: block;
    background-image: url("../images/header-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.section {
  padding: 0 calc(50% - 1250px);
  position: relative;
  background-color: #ffffff; }
  .section_dark {
    background-color: #2c2e37; }

.heading {
  position: absolute;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 23px;
  line-height: 33px;
  text-align: center;
  max-width: 307px;
  text-transform: uppercase;
  color: #2c2e37;
  margin: 0; }
  .heading::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../images/waves-ico.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 10px;
    top: -40px;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%); }
  .heading_white {
    color: #ffffff; }
    .heading_white::before {
      display: none; }

.topic__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px; }
  .topic__block:last-child {
    margin-bottom: 0; }

.topic__text-block {
  width: 50%;
  padding: 0 70px; }

.topic__heading {
  margin: 0;
  text-transform: uppercase;
  font-family: "Raleway";
  color: #2c2e37;
  font-size: 20px;
  font-weight: 800; }

.topic__text {
  margin: 25px 0 0;
  font-size: 14px;
  font-family: "Open Sans";
  color: #949494;
  line-height: 26px; }

.topic__img {
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .story__text {
    margin: 0;
    font-size: 14px;
    font-family: "Open Sans";
    color: #949494;
    line-height: 26px;
    max-width: 460px; }
    .story__text:first-child {
      margin-right: 20px; }
    .story__text:last-child {
      margin-left: 20px; }

.aboutUs {
  padding: 185px 110px 170px; }
  .aboutUs__heading {
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%); }
  .aboutUs__topic {
    margin-top: 120px; }
  .aboutUs__story {
    margin-top: 170px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .aboutUs__buttons {
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .aboutUs::after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 100px;
    background-color: #949494;
    opacity: 0.302;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    z-index: 2; }

.projects {
  padding: 125px 0 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .projects__heading {
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%); }
  .projects__caption {
    margin: 50px 0 30px;
    text-align: center;
    max-width: 550px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 26px;
    color: #949494; }

.galery {
  height: 600px;
  width: 100%;
  padding: 0 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: -25%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .galery__image-section {
    width: 40%;
    height: 75%; }
    .galery__image-section:first-child {
      height: 100%;
      width: 55%; }
    .galery__image-section img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center; }
  .galery__video {
    position: relative;
    cursor: pointer; }
    .galery__video::before {
      position: absolute;
      content: '';
      display: block;
      background-image: url("../images/play-ico.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 59px;
      height: 59px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .galery::before, .galery::after {
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../images/galery-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer; }
  .galery::before {
    left: 45px; }
  .galery::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 45px; }

.description-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 25px; }
  .description-block__case {
    width: 50%; }
  .description-block__heading {
    margin: 0;
    font-size: 20px;
    font-family: "Raleway";
    font-weight: 800;
    text-transform: uppercase;
    line-height: 43px;
    color: #2c2e37; }
  .description-block__text {
    margin: 0;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 26px;
    color: #949494;
    max-width: 480px; }
  .description-block__capture {
    margin-top: 50px;
    font-size: 14px;
    font-family: "Open Sans";
    font-style: italic;
    color: #949494; }
    .description-block__capture::before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      background-image: url("../images/clock.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-right: 10px; }
  .description-block__seperator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%; }
    .description-block__seperator .line {
      width: 75%;
      height: 1px;
      background-color: #dfdfdf; }
    .description-block__seperator .number {
      font-family: "Raleway";
      font-size: 16px;
      font-weight: 700;
      color: #d3d3d3; }
    .description-block__seperator .active {
      color: #7f8085; }
    .description-block__seperator .line, .description-block__seperator .number {
      margin-right: 20px; }

.studies {
  position: relative;
  padding: 440px 110px 200px; }

.journal {
  position: relative;
  background-color: #fafafa;
  padding: 260px 110px 235px; }
  .journal__heading {
    position: relative;
    text-align-last: left;
    font-size: 20px; }
    .journal__heading::before {
      left: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
  .journal__text {
    margin: 30px 0 0;
    max-width: 350px;
    font-family: "Open Sans";
    color: #949494;
    font-size: 14px;
    line-height: 26px; }
  .journal__button {
    margin-top: 30px;
    padding: 15px 30px; }
