* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

main {
  overflow: hidden; }

.wrapper {
  position: relative;
  height: 100%; }
  .wrapper_footer {
    padding: 0 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

a {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.locked {
  overflow: hidden; }

@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper_footer {
    padding: 0 100px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .wrapper_footer {
    padding: 0 35px;
    display: block; } }

.logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 17px;
  height: 17px; }
  .logo_white {
    background-image: url("../images/logo-white.svg"); }

.search {
  background-image: url("../images/search-ico.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 15px;
  height: 15px; }

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2c2e37;
  top: 0;
  right: 0;
  z-index: 3;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right; }
  .nav__list {
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    right: 150px;
    top: 100px; }
  .nav__item {
    font-size: 30px;
    font-family: "Raleway";
    text-transform: uppercase;
    margin-bottom: 20px; }
  .nav__link {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding-bottom: 10px; }
    .nav__link:hover {
      font-size: 33px;
      border-bottom: 2px solid #f84444; }
  .nav.opened {
    visibility: visible;
    opacity: 0.99;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    margin-right: 0px; }
  to {
    opacity: 1;
    margin-right: 50px; } }

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-right: 0px; }
  to {
    opacity: 1;
    margin-right: 50px; } }

.button {
  background-color: #f84444;
  padding: 15px 0;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 12px;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s; }
  .button_heading {
    padding: 11px 12px;
    font-size: 17px; }
  .button_double {
    margin: 0 9.5px;
    width: 130px; }
  .button_white {
    background-color: #ffffff;
    color: #81818181;
    border: 2px solid #e6e6e6e6; }
    .button_white:hover {
      background-color: #f84444;
      color: #ffffff;
      border-color: #f84444; }
  .button_red {
    border: 2px solid transparent; }
    .button_red:hover {
      background-color: #fff;
      color: #f84444;
      border: 2px solid #e6e6e6e6; }
  .button_dark {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #56585f; }
    .button_dark:hover {
      background-color: #f84444;
      color: #ffffff;
      border-color: #f84444; }

.header {
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px; }
  .header__logo, .header__search, .header__nav-button, .header__button, .header__title {
    position: absolute; }
  .header__logo, .header__search, .header__nav-button {
    top: 40px; }
  .header__logo {
    left: 40px; }
  .header__search {
    right: 83px; }
  .header__nav-button {
    position: fixed;
    background-color: #7c7e88;
    width: 15px;
    height: 12px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    background-clip: content-box;
    top: 41px;
    right: 40px;
    cursor: pointer;
    z-index: 4; }
    .header__nav-button:before, .header__nav-button:after {
      content: '';
      display: block;
      position: absolute;
      background-color: inherit;
      height: 2px;
      width: 100%;
      will-change: rotate;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .header__nav-button:before {
      top: -5px; }
    .header__nav-button:after {
      bottom: -5px; }
    .header__nav-button.active {
      right: 55px;
      background: transparent;
      background-clip: content-box; }
    .header__nav-button.active:before {
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
      top: 0;
      background: #eee;
      width: 110%; }
    .header__nav-button.active:after {
      bottom: 0;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      background: #eee;
      width: 110%; }
  .header__title {
    font-family: "Raleway";
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 70px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .header__button {
    top: 380px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .header__arrow {
    display: block;
    background-image: url("../images/header-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    height: 770px; }
    .header__title {
      display: none; }
    .header__button {
      top: 50%; } }

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    height: 800px; }
    .header__logo {
      left: 36px; }
    .header__search {
      right: 70px; }
    .header__nav-button {
      right: 36px; }
    .header__title {
      display: none; }
    .header__button {
      top: 50%; }
    .header__arrow {
      display: none; } }

.section {
  padding: 0 calc(50% - 1250px);
  position: relative;
  background-color: #ffffff; }
  .section_dark {
    background-color: #2c2e37; }
  .section_journal {
    background-color: #fafafa; }

.heading {
  position: absolute;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 23px;
  line-height: 33px;
  text-align: center;
  max-width: 307px;
  text-transform: uppercase;
  color: #2c2e37;
  margin: 0; }
  .heading-journal {
    width: 100% !important; }
  .heading::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../images/waves-ico.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 10px;
    top: -40px;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%); }
  .heading_white {
    color: #ffffff; }
    .heading_white::before {
      display: none; }

@media (min-width: 320px) and (max-width: 767px) {
  .heading {
    width: 307px;
    padding: 0 25px; } }

.topic__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px; }
  .topic__block:last-child {
    margin-bottom: 0; }

.topic__text-block {
  width: 50%;
  padding: 0 70px; }

.topic__heading {
  margin: 0;
  text-transform: uppercase;
  font-family: "Raleway";
  color: #2c2e37;
  font-size: 20px;
  font-weight: 800; }

.topic__text {
  margin: 25px 0 0;
  font-size: 14px;
  font-family: "Open Sans";
  color: #949494;
  line-height: 26px; }

.topic__img {
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

@media (min-width: 768px) and (max-width: 1023px) {
  .topic__block {
    margin-bottom: 30%; }
    .topic__block:last-child {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
      .topic__block:last-child .topic__img {
        left: 0; }
  .topic__text-block {
    padding: 0;
    width: 44%; }
  .topic__img {
    position: absolute;
    right: 0; } }

@media (min-width: 320px) and (max-width: 767px) {
  .topic__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .topic__block:last-child {
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-bottom: 130px; }
      .topic__block:last-child::after {
        content: '';
        position: absolute;
        display: block;
        border-bottom: 1px solid #e5e5e5;
        bottom: 0;
        width: 131%; }
  .topic__img {
    width: 131%; }
  .topic__text-block {
    padding: 115px 0 0;
    width: 100%;
    text-align: center; } }

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .story__text {
    margin: 0;
    font-size: 14px;
    font-family: "Open Sans";
    color: #949494;
    line-height: 26px;
    max-width: 460px; }
    .story__text:first-child {
      margin-right: 20px; }
    .story__text:last-child {
      margin-left: 20px; }

@media (min-width: 320px) and (max-width: 767px) {
  .story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .story__text {
      text-align: center;
      max-width: 100%; }
      .story__text:first-child {
        margin: 0;
        margin-bottom: 120px; }
      .story__text:last-child {
        margin: 0; } }

.aboutUs {
  padding: 185px 110px 170px; }
  .aboutUs__heading {
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%); }
  .aboutUs__topic {
    margin-top: 120px; }
  .aboutUs__story {
    margin-top: 170px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .aboutUs__buttons {
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .aboutUs::after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 100px;
    background-color: #949494;
    opacity: 0.302;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    z-index: 2; }

@media (min-width: 768px) and (max-width: 1023px) {
  .aboutUs {
    padding: 125px 100px 170px; }
    .aboutUs__topic {
      margin-top: 170px; }
    .aboutUs__story {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    height: 770px; }
    .header__title {
      display: none; }
    .header__button {
      top: 50%; } }

@media (min-width: 320px) and (max-width: 767px) {
  .aboutUs {
    padding: 140px 36px 180px; }
    .aboutUs__topic {
      margin-top: 200px; }
    .aboutUs__story {
      margin-top: 125px; }
    .aboutUs__buttons {
      margin-top: 75px; } }

.projects {
  padding: 125px 0 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .projects__heading {
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%); }
  .projects__caption {
    margin: 50px 0 30px;
    text-align: center;
    max-width: 550px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 26px;
    color: #949494; }

@media (min-width: 320px) and (max-width: 767px) {
  .projects {
    padding: 175px 36px 180px; }
    .projects__buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.galery {
  height: 600px;
  width: 100%;
  padding: 0 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: -25%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .galery__image-section {
    width: 40%;
    height: 75%; }
    .galery__image-section:first-child {
      height: 100%;
      width: 55%; }
    .galery__image-section img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center; }
  .galery__video {
    position: relative;
    cursor: pointer; }
    .galery__video::before {
      position: absolute;
      content: '';
      display: block;
      background-image: url("../images/play-ico.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 59px;
      height: 59px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .galery::before, .galery::after {
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../images/galery-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer; }
  .galery::before {
    left: 45px; }
  .galery::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 45px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .galery {
    padding: 0;
    left: 72%; }
    .galery:before, .galery::after {
      display: none; } }

@media (min-width: 320px) and (max-width: 767px) {
  .galery {
    padding: 0 76px;
    top: -5%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .galery__image-section {
      display: none; }
      .galery__image-section img {
        -o-object-position: top center;
        object-position: top center; }
      .galery__image-section:first-child {
        display: block;
        width: 100%; }
    .galery::before {
      left: 20px; }
    .galery::after {
      right: 20px; } }

.description-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 25px; }
  .description-block__case {
    width: 50%; }
  .description-block__heading {
    margin: 0;
    font-size: 20px;
    font-family: "Raleway";
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #2c2e37; }
  .description-block__text {
    margin: 0;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 26px;
    color: #949494;
    max-width: 480px; }
  .description-block__capture {
    margin-top: 50px;
    font-size: 14px;
    font-family: "Open Sans";
    font-style: italic;
    color: #949494; }
    .description-block__capture::before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      background-image: url("../images/clock.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-right: 10px; }
  .description-block__seperator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%; }
    .description-block__seperator .line {
      width: 75%;
      height: 1px;
      background-color: #dfdfdf; }
    .description-block__seperator .number {
      font-family: "Raleway";
      font-size: 16px;
      font-weight: 700;
      color: #d3d3d3; }
    .description-block__seperator .active {
      color: #7f8085; }
    .description-block__seperator .line, .description-block__seperator .number {
      margin-right: 20px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .description-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    width: 80%; }
    .description-block__seperator {
      width: 45%; } }

@media (min-width: 320px) and (max-width: 767px) {
  .description-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    text-align: center; }
    .description-block__case {
      width: 100%; }
    .description-block__seperator {
      display: none; } }

.studies {
  position: relative;
  padding: 440px 110px 200px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .studies {
    padding: 460px 0 235px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .studies {
    padding: 620px 35px 120px; } }

.journal {
  position: relative;
  padding: 260px 110px 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .journal__heading {
    position: relative;
    text-align: left;
    font-size: 20px; }
    .journal__heading::before {
      left: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
  .journal__text {
    margin: 30px 0 0;
    max-width: 37%;
    font-family: "Open Sans";
    color: #949494;
    font-size: 14px;
    line-height: 26px; }
  .journal__button {
    margin-top: 30px;
    padding: 15px 30px; }
  .journal__ilustration-block {
    position: absolute;
    right: 0;
    top: -60%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    background-image: url("../images/journal/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 630px;
    width: 45%; }
    .journal__ilustration-block::before {
      content: '';
      display: block;
      position: absolute;
      width: 340px;
      height: 340px;
      background-image: url("../images/journal/2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      bottom: -85px;
      left: 10%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 2; }

@media (min-width: 768px) and (max-width: 1023px) {
  .journal {
    padding: 270px 100px 225px; }
    .journal__ilustration-block::before {
      width: 250px;
      height: 250px;
      bottom: -100px;
      left: 13%; } }

@media (min-width: 320px) and (max-width: 767px) {
  .journal {
    padding: 620px 35px 115px; }
    .journal__text-block {
      position: relative; }
    .journal__text {
      text-align: center;
      max-width: 100%; }
    .journal__heading {
      text-align: center;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: 0;
      max-width: 100%; }
      .journal__heading::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    .journal__ilustration-block {
      top: -315px;
      width: 100%;
      height: 500px; }
      .journal__ilustration-block::before {
        display: none; }
    .journal__button {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .person:last-child {
    margin-right: 0; }
  .person__img {
    width: 100%;
    height: 330px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 25%;
    object-position: 50% 25%;
    margin-bottom: 45px; }
  .person__name, .person__position {
    font-family: "Raleway";
    color: #2c2e37; }
  .person__name {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 15px;
    line-height: 43px; }
  .person__position {
    position: relative;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 30px;
    padding-bottom: 25px; }
    .person__position::after {
      position: absolute;
      bottom: 0;
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background-color: #949494; }
  .person__text {
    margin: 25px 0 30px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 26px;
    color: #949494; }
  .person__social .link {
    text-decoration: none;
    margin-right: 20px; }

.team {
  padding: 185px 110px 75px; }
  .team__heading {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .team__cards {
    padding-top: 120px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 65px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

@media (min-width: 768px) and (max-width: 1023px) {
  .team {
    padding: 125px 100px 40px; }
    .team__cards {
      -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

@media (min-width: 320px) and (max-width: 767px) {
  .team {
    padding: 135px 35px 40px; }
    .team__cards {
      -ms-grid-columns: 100%;
      grid-template-columns: 100%; } }

.client {
  padding: 75px 110px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .client__slack, .client__adobe, .client__google, .client__facebook, .client__spotify, .client__nike {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 85px;
    height: 30px; }
  .client__slack {
    background-image: url("../images/clients/slack.png"); }
  .client__adobe {
    background-image: url("../images/clients/adobe.png"); }
  .client__google {
    background-image: url("../images/clients/google.png"); }
  .client__facebook {
    background-image: url("../images/clients/facebook.png"); }
  .client__spotify {
    background-image: url("../images/clients/spotify.png"); }
  .client__nike {
    background-image: url("../images/clients/nike.png"); }

@media (min-width: 768px) and (max-width: 1023px) {
  .client {
    padding: 75px 100px 70px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .client {
    padding: 75px 35px 75px; } }

.nav-footer {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  text-transform: capitalize; }
  .nav-footer__item {
    margin-bottom: 30px; }
    .nav-footer__item:last-child {
      margin-bottom: 0; }
  .nav-footer__link {
    text-decoration: none;
    color: #ffffff; }
    .nav-footer__link:hover {
      color: #f84444; }

@media (min-width: 768px) and (max-width: 1023px) {
  .nav-footer__item {
    font-size: 14px; } }

.form__email {
  max-width: 340px;
  position: relative; }

.form input {
  background: transparent;
  border: 2px solid #42434b;
  outline: none;
  width: 100%;
  padding: 15px 40px 15px 20px;
  color: #ffffff; }
  .form input:hover {
    border: 2px solid #f84444; }

.form button {
  content: '';
  border: none;
  background: transparent;
  outline: none;
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("../images/form-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 10px;
  height: 10px;
  cursor: pointer; }

.mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 405px;
  color: #ffffff; }
  .mailing__heading {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px; }
  .mailing__capture {
    font-size: 12px;
    margin: 0;
    margin-bottom: 30px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .mailing {
    width: 40%; } }

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: "Open Sans"; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer__social .link {
      text-decoration: none;
      margin-right: 20px; }
      .footer__social .link:last-child {
        margin-right: 0; }

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding-bottom: 160px; }
    .footer__social {
      position: absolute;
      bottom: -75px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-bottom: 90px;
    padding-top: 80px; }
    .footer__nav {
      display: inline-block;
      margin-top: 80px;
      margin-right: 15%; }
    .footer__mailing {
      margin-top: 80px; }
    .footer__social {
      position: absolute;
      bottom: -75px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }
