@import 'content';

.about-us {
  position: relative;
  border: 2px solid #e5e5e5;
  padding: 30px 15px;

  &__heading {
    display: none;
  }

  .content-wrap {
    position: relative;
    height: 590px;

    .opacity-zero {
      opacity: 0;
    }
    

    .dots {
      position: absolute;
      display: flex;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);

      .dot-active {
        background-color: #2cdfff;
      }

      .dot-1, .dot-2, .dot-3 {
        background-color: #00b3e9;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 0 6px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about-us {
    border: none;

    &__heading {
      display: block;
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      margin: 0;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 768px) {
  .about-us {
    .content-wrap {
      position: static;
      height: 100%;

      .dots {
        display: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  .about-us {
    padding: 0;
    border: none;
    margin-bottom: 80px;

    &__heading {
      font-size: 60px;
      font-weight: normal;
      display: block;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      margin-bottom: 80px;
    }
    
    .content-wrap {
      position: relative;
      height: 100%;
    }

    
  }
}