.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px;

  &__heading {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
  }

  &__img {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 30px;
    font-weight: 300;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .benefits {
    margin-bottom: 50px;

    &__heading {
      margin-bottom: 50px;
    }
    
    &__content {
      display: flex;
    }

    &__img  {
      display: block;
      width: 230px;
      height: 200px;
      margin-right: 50px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__list {
      font-size: 18px;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .benefits {
    padding: 0;
    margin-bottom: 120px;

    &__heading {
      margin-bottom: 80px;
    }
  }
}