.content {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  transition: all 1s ease;
  opacity: 1;

  &:nth-child(even) {
    flex-direction: column;
  }

  &__img {
    height: 245px;
    width: 100%;
  }

  .img-1 {
    background-color: #00b3e9;
  }

  .img-2 {
    background-color: #2cdfff;
  }

  .img-3 {
    background-color: #2dcec8;
  }

  &__heading {
    text-transform: uppercase;
    padding: 0;
    margin: 30px 0 0;
    font-size: 20px;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .content {
    position: static;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;

    &:nth-child(even) {
      flex-direction: row;
    }
  

    &:last-child {
      margin-bottom: 0;
    }

    &__heading {
      margin-top: 0;
    }
    
    &__text-section {
      margin-right: 30px;

      &:nth-child(even) {
        margin-right: 0;
        margin-left: 30px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .content {
    margin-bottom: 80px;
  }
}