@import 'nav';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8.5px 16px;
  border-bottom: 2px solid #e5e5e5;

  &__logo {
    width: 57px;
    height: 48px;

    &-img {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }  

  &__inst {
    width: 30px;
    height: 30px;

    &-img {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    width: 945px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-end;
    flex-direction: row-reverse;
    border-bottom: none;
    padding-top: 35px;
    

    &__logo {
      width: 135px;
      height: 120px;
    }

    &__inst {
      display: none;
    }
  }
}