.types-water {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;

  &__heading {
    display: none;
  }

  &__drinking, &__beauty, &__acidic {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding: 47px 0 40px;
    border-radius: 20px;
    text-transform: uppercase;
  }

  &__drinking {
    background-color: #00b3e9;
    width: 100%;
    margin-bottom: 17px;
  }

  &__beauty {
    background-color: #2cdfff;
    width: 45%;
  }

  &__acidic {
    background-color: #2dcec8;
    width: 45%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .types-water {

    &__drinking {
      margin-bottom: 0;
    }

    &__drinking, &__beauty, &__acidic {
      width: 30%;
    }
  }
}

@media (min-width: 1024px) {
  .types-water {
    max-width: 945px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-evenly;
    margin-bottom: 80px;

    &__drinking {
      margin-bottom: 0;
    }

    &__drinking, &__beauty, &__acidic {
      width: 30%;
    }
  }
}

