@import 'card';

.services {
  margin-top: 159px;

  &__heading {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.2px;
  }

  &__capture {
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: -0.177778px;
  }

  &__list {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
    margin-bottom: 136px;
  }
}