html {
  scroll-behavior: smooth; }

body {
  font-family: "Ubuntu"; }

strong {
  font-weight: 500 !important; }

.logo {
  background-image: url("../images/logo.png");
  width: 115px;
  height: 76px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.nav {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0; }
  .nav__item {
    padding: 7px 20px;
    margin: 0 22.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__item_active {
    background-color: #D5C5AA;
    border-radius: 10px;
    text-transform: uppercase; }
  .nav__link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; }
    .nav__link:hover {
      color: #D5C5AA;
      -webkit-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s; }

@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 765px;
  position: relative; }
  .header__top {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 35px;
    left: calc(50% - 57.5px); }
  .header__phone, .header__callAction {
    position: relative;
    top: 47px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500; }
  .header__phone {
    color: #ffffff;
    margin: 0 82px; }
  .header__callAction a {
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px dashed;
    color: #ffffff; }
    .header__callAction a:hover {
      color: #D5C5AA;
      -webkit-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s; }
  .header__nav {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0; }

@media (max-width: 1024px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__phone {
    margin: 0;
    top: 25px; }
  .header__callAction {
    top: 30px; } }

.section {
  position: relative;
  padding: 100px calc(50% - 470px); }
  .section:nth-child(even) {
    background-color: #eeeeee; }
  .section__heading {
    top: -0.5em;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); }

@media (max-width: 768px) {
  .section__heading {
    top: -0.6em; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 56px 0; }
  .info__heading {
    max-width: 314px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 60px;
    padding: 0;
    margin: 0; }
    .info__heading_link {
      color: #00AAEF;
      text-decoration: none; }
      .info__heading_link:hover {
        color: #2F80ED;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s; }
  .info__text {
    max-width: 564px;
    line-height: 24px;
    font-size: 16px;
    font-weight: normal; }
    .info__text > p:first-child {
      margin-top: 0; }
    .info__text > p:last-child {
      margin-bottom: 0; }
    .info__text > p {
      margin: 24px 0; }

@media (max-width: 968px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 56px 50px; }
    .info__heading {
      margin-bottom: 25px; } }

@media (max-width: 768px) {
  .info {
    padding: 0 15px; } }

.heading {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  text-transform: uppercase; }
  .heading::before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background-color: #00AAEF;
    width: calc(50% - 20px);
    bottom: -5px;
    left: 0; }
  .heading::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background-color: #00AAEF;
    width: calc(50% - 20px);
    bottom: -5px;
    right: 0; }
  .heading__crown::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../images/crown.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 16px;
    left: calc(50% - 11.5px); }

@media (max-width: 768px) {
  .heading {
    font-size: 38px; } }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 260px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
  .photos_wide_left :first-child {
    width: calc(67% - 10px); }
  .photos_wide_left :last-child {
    width: calc(33% - 10px); }
  .photos_wide_right :first-child {
    width: calc(33% - 10px); }
  .photos_wide_right :last-child {
    width: calc(67% - 10px); }

@media (max-width: 1024px) {
  .photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .photos__img {
      width: 100% !important;
      margin-bottom: 15px; }
      .photos__img:last-child {
        margin-bottom: 0; } }

.galery__capture {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin-top: 12px;
  margin-bottom: 35px; }

.galery > p:last-child {
  margin-bottom: 0; }

.galery__link {
  color: #00AAEF;
  text-decoration: none; }
  .galery__link:hover {
    color: #2F80ED;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s; }

.galery__button {
  margin: 10px auto 0;
  padding: 18px 62px; }

@media (max-width: 1024px) {
  .galery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 50px; } }

@media (max-width: 768px) {
  .galery {
    padding: 0 15px; } }

.button {
  display: block;
  background-color: #00AAEF;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase; }
  .button:hover {
    background-color: #2F80ED;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 49px;
  margin-bottom: 45px; }
  .consultation__text {
    max-width: 480px; }
  .consultation__heading {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    margin: 0; }
  .consultation p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 0; }
  .consultation__form {
    width: 380px; }
  .consultation__button {
    width: 100%;
    margin-top: 3px;
    padding-top: 11px;
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px; }

@media (max-width: 1024px) {
  .consultation {
    padding: 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .consultation__text {
      max-width: 100%;
      margin-bottom: 50px; }
    .consultation__form {
      width: 100%; } }

@media (max-width: 768px) {
  .consultation {
    padding: 0 15px; } }

.form label {
  display: block;
  margin-bottom: 7px; }

.form input {
  width: 90%;
  padding-top: 11px;
  padding-bottom: 7px;
  background-color: #eeeeee;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  padding-left: 5%;
  padding-right: 5%; }
  .form input::-webkit-input-placeholder {
    color: #393939;
    text-transform: uppercase; }
  .form input:-ms-input-placeholder {
    color: #393939;
    text-transform: uppercase; }
  .form input::-ms-input-placeholder {
    color: #393939;
    text-transform: uppercase; }
  .form input::placeholder {
    color: #393939;
    text-transform: uppercase; }

.form textarea {
  width: 90%;
  border: none;
  outline: none;
  text-align: center;
  height: 165px;
  background-color: #eeeeee;
  text-transform: uppercase;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 7px; }
  .form textarea::-webkit-input-placeholder {
    color: #393939;
    text-transform: uppercase; }
  .form textarea:-ms-input-placeholder {
    color: #393939;
    text-transform: uppercase; }
  .form textarea::-ms-input-placeholder {
    color: #393939;
    text-transform: uppercase; }
  .form textarea::placeholder {
    color: #393939;
    text-transform: uppercase; }

.person {
  width: 200px;
  text-align: center;
  font-size: 16px;
  line-height: 24px; }
  .person__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
  .person__name {
    margin: 12px 0 10px;
    font-weight: bold; }
  .person__position {
    margin: 0;
    color: #777777;
    font-style: italic; }
  .person__text {
    margin: 16px 0 0;
    position: relative; }
    .person__text:before {
      content: '';
      display: block;
      position: absolute;
      width: 35px;
      height: 30px;
      background-image: url("../images/quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
      bottom: calc(100%);
      right: calc(100% - 15px); }

@media (max-width: 1024px) {
  .person {
    margin-bottom: 75px; }
    .person:last-child {
      margin-bottom: 0; } }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

@media (max-width: 1024px) {
  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.contacts {
  font-size: 24px;
  line-height: 36px; }
  .contacts__email, .contacts__phone, .contacts__street, .contacts__location {
    margin: 0; }
  .contacts__street {
    margin-top: 30px; }
  .contacts__form {
    width: 375px; }
  .contacts__button {
    width: 100%;
    height: 55px; }

@media (max-width: 1024px) {
  .contacts {
    margin-bottom: 50px; }
    .contacts__form {
      width: 100%; } }

@media (max-width: 768px) {
  .contacts {
    padding: 0 15px; } }

.contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media (max-width: 1024px) {
  .contactUs {
    padding: 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 768px) {
  .contactUs {
    padding: 0 15px; } }

footer {
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 540px;
  position: relative; }
  footer::after {
    content: '';
    display: block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 115px;
    height: 76px;
    position: absolute;
    bottom: 95px;
    left: calc(50% - 57.5px); }
