.button {
    display: block;
    background-color: $light-blue_color;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    text-transform: uppercase;

    &:hover {
        background-color: $light-blue_color_active;
        transition-duration: 0.2s;
    }
}    
