@import 'blocks/contacts';

.contactUs {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .contactUs {
        padding: 0 50px;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .contactUs {
        padding: 0 15px;
    }
}