.logo {
    background-image: url('../images/logo.png');
    width: $logo_width;
    height: $logo_height;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}