@import 'blocks/person';

.testimonials {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 968px) {
    .testimonials {
        flex-direction: column;
        align-items: center;
    }
}