* {
    box-sizing: border-box;
}

main {
    overflow: hidden;
}

.wrapper {
    position: relative;
    height: 100%;

    &_footer {
        padding: 0 110px;
        display: flex;
        justify-content: space-between;
    }
}

a {
    transition: all 0.5s ease ;
}

.locked {
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
    
        &_footer {
            padding: 0 100px;
        }
    }
}